<div class="change-password-container">
  <h2>{{ 'resetPassword' | translate }}</h2>

  <form novalidate name="changePasswordForm">
    <!-- Você pode criar campos para "nova senha", "confirmar senha", etc. -->
    <div>
      <label for="newPassword">{{ 'newPasswordLabel' | translate }}</label>
      <input
        id="newPassword"
        type="password"
        ng-model="$ctrl.form.newPassword"
        placeholder="{{ 'newPasswordPlaceholder' | translate }}"
      />
    </div>

    <div>
      <label for="confirmNewPassword">{{ 'confirmNewPasswordLabel' | translate }}</label>
      <input
        id="confirmNewPassword"
        type="password"
        ng-model="$ctrl.form.confirmNewPassword"
        placeholder="{{ 'confirmNewPasswordPlaceholder' | translate }}"
      />
    </div>

    <button type="button" ng-click="$ctrl.submitForm()" ng-disabled="$ctrl.authService.loading">
      {{ 'changePasswordButton' | translate }}
    </button>

    <div ng-if="$ctrl.authService.loading">
      <p>{{ 'loadingText' | translate }}</p>
    </div>
  </form>
</div>
