<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form name="recoveryForm" class="sform-recovery">
        <h2 class="stext-form">
          {{ 'recoveryPasswordTitle' | translate }}
        </h2>

        <div class="mb-3">
          <label>E-mail:</label>
          <input
            type="email"
            class="form-control"
            name="email"
            placeholder="{{ 'placeholder.emailRecovery' | translate }}"
            ng-model="vm.form.email"
            ng-change="vm.handleChange('email')"
            ng-disabled="vm.loading"
          />
          <div class="invalid-feedback" ng-if="vm.formValidate.email">
            {{ vm.formValidate.email }}
          </div>
        </div>

        <!-- Botão / Loading -->
        <div ng-if="vm.loading">
          <loading></loading>
        </div>
        <button
          type="button"
          class="btn btn-primary"
          ng-click="vm.submitForm()"
          ng-disabled="vm.isNotValid(vm.form, vm.formValidate)"
        >
          {{ 'buttonRecovery' | translate }}
        </button>
      </form>
    </div>
  </div>
</div>
