<div class="max-w-md mx-auto mt-10 p-6 bg-white rounded shadow">
    <h2 class="text-xl font-semibold mb-4">
      {{ 'LOGIN.TITLE' | translate }}
    </h2>
  
    <label class="block mb-2">
      {{ 'LOGIN.USERNAME' | translate }}
    </label>
    <input
      class="border rounded w-full mb-4 p-2"
      [(ngModel)]="username"
      type="text"
    />
  
    <label class="block mb-2">
      {{ 'LOGIN.PASSWORD' | translate }}
    </label>
    <input
      class="border rounded w-full mb-4 p-2"
      [(ngModel)]="password"
      type="password"
    />
  
    <button
      class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700"
      (click)="onLogin()"
    >
      {{ 'LOGIN.BUTTON' | translate }}
    </button>
  
    <div class="mt-4">
      <a routerLink="/register" class="text-blue-600 hover:text-blue-800">
        {{ 'LOGIN.REGISTER_LINK' | translate }}
      </a>
    </div>
  </div>
  