<div class="p-4 bg-gray-100 min-h-screen">
  <header class="mb-4">
    <h1 class="text-2xl font-bold">
      {{ 'APP_TITLE' | translate }}
    </h1>
    <div class="mt-2">
      <button
        class="px-3 py-1 border rounded mr-2"
        (click)="changeLanguage('pt-BR')"
      >
        pt-BR
      </button>
      <button
        class="px-3 py-1 border rounded mr-2"
        (click)="changeLanguage('pt-PT')"
      >
        pt-PT
      </button>
      <button
        class="px-3 py-1 border rounded mr-2"
        (click)="changeLanguage('en-US')"
      >
        en-US
      </button>
      <button
        class="px-3 py-1 border rounded mr-2"
        (click)="changeLanguage('es-ES')"
      >
        es-ES
      </button>
      <button
        class="px-3 py-1 border rounded"
        (click)="changeLanguage('fr-FR')"
      >
        fr-FR
      </button>
    </div>
  </header>

  <router-outlet></router-outlet>
</div>
