<div class="max-w-md mx-auto mt-10 p-4 border border-gray-300 bg-white">
  <h2 class="text-2xl mb-4 font-bold">Registrar-se</h2>

  <form>
    <label class="block mb-2">
      <span>Nome</span>
      <input
        formControlName="name"
        type="text"
        class="border w-full p-2"
        placeholder="Informe seu nome"
      />
    </label>

    <label class="block mb-2">
      <span>E-mail</span>
      <input
        formControlName="email"
        type="email"
        class="border w-full p-2"
        placeholder="Informe seu e-mail"
      />
    </label>

    <label class="block mb-2">
      <span>Nome de Usuário</span>
      <input
        formControlName="username"
        type="text"
        class="border w-full p-2"
        placeholder="Informe um username"
      />
    </label>

    <label class="block mb-2">
      <span>Senha</span>
      <input
        formControlName="password"
        type="password"
        class="border w-full p-2"
        placeholder="Informe sua senha"
      />
    </label>

    <button
      type="submit"
      class="bg-blue-600 text-white px-4 py-2 mt-2"
    >
      Registrar
    </button>
  </form>
</div>
